.cls-background {
    background-image: url('../assets/img/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif');
    background-repeat: no-repeat;
    background-size: cover;

}

.Blog_background__Xmbdo {}